.ui.items .item {
  cursor: pointer;
}

.ui.items .item .content {
  display: flex;
  align-items: center;
  justify-content: left;
  pointer-events: none;
  margin: none;
  padding: none;
  margin: 16px;
}

.ui.items > .item:hover {
  background: #eee;
}

.ui.items > .item:active {
  background: #ccc;
}

.ui.nag {
  position: absolute;
  display: block;
}

.toastfade-enter-active, .toastfade-leave-active {
  transition: opacity .2s
}

.toastfade-enter, .toastfade-leave-active {
  opacity: 0
}

.search-bar {
  padding: 16px;
}