.ui.items > .item {
  height: 72px;
  cursor: pointer;
  vertical-align: middle;
}

.ui.items > .item:hover {
  background: #eee;
}

.ui.items > .item:active {
  background: #ccc;
}

.ui.nag {
  position: absolute;
  display: block;
}

.toastfade-enter-active, .toastfade-leave-active {
  transition: opacity .2s
}

.toastfade-enter, .toastfade-leave-active {
  opacity: 0
}